/*-- Normalize [Start] --*/
body {
  margin: 0;
  font-family: system-ui;
  box-sizing: border-box;
  height: 100vh;
}

button {
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  background-image: none;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 5px;
  height: fit-content;
  text-transform: inherit;
  letter-spacing: inherit;
  font-family: inherit;
}
/*-- Normalize [End] --*/

.c-header {
  display: flex;
  padding: 8px 24px;
  text-transform: uppercase;
  /* border-bottom: 1px solid #0004; */
}

.c-header > .ce-logo {
  width: 200px;
  padding-right: 24px;
  box-sizing: border-box;
}
.c-header > .ce-logo > .ce-logo-link {
  display: block;
}
.c-header > .ce-logo > .ce-logo-link > .ce-logo-image {
  width: 100%;
}

.c-header > .ce-menu {
  /* width: calc(100% - 200px - 360px); */
  display: flex;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  margin-left: auto;
}
.c-header > .ce-menu > a {
  text-decoration: none;
}
.c-header > .ce-menu > a > .ce-menu-item {
  margin: 0 16px;
  color: #000;
}

.c-header > .ce-controls {
  /* width: 400px; */
  margin-left: auto;
  display: flex;
  align-items: center;
}
.c-header > .ce-controls > .ce-search {
  margin-left: auto;
  margin-right: 16px;
}
.c-header > .ce-controls > .ce-search input{
  width: 200px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #0004;
}

.c-header .ce-controls > .ce-cart {
  position: relative;
  margin-left: auto;
  width: 40px;
  display: flex;
  margin-right: 16px;
}
.c-header .ce-controls > .ce-cart > a >  .ce-cart-icon {
  width: 24px;
}
.c-header .ce-controls > .ce-cart > a > .ce-cart-count {
  font-weight: 300;
  font-size: 10px;
  color: #fff;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #ff0000;
  border-radius: 100%;
  right: 8px;
  top: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-header .ce-controls > .ce-register-btn {
  margin-right: 8px;
  border: none;
}

.c-header .ce-controls > .ce-login-btn {
  border: none;
  background-color: #2569d9;
  color: #fff;
}

.ce-body {
  box-sizing: border-box;
  height: calc(100% - 70px);
  overflow: hidden;
  background-color: #efefef;
  display: flex;
}

.c-sidebar {
  background-color: white;
  margin-top: 1px;
  width: 240px;
  overflow: auto;
}
.c-sidebar::-webkit-scrollbar {
  display: none;
}

.c-sidebar > .ce-item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #0001;
  box-sizing: border-box;
  font-weight: 200;
}

.c-sidebar > .ce-item > a {
  text-decoration: none;
}

.ce-content {
  width: calc(100% - 240px);
  padding: 24px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.c-product-banner {
  width: 100%;
  overflow: auto;
  margin-bottom: 40px;
  position: relative;
}
.c-product-banner::-webkit-scrollbar {
  display: none;
}
.c-product-banner .ce-title {
  width: 100%;
  margin: 0;
  padding: 0 8px;
}
.c-product-banner .ce-more {
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: 300;
  /* display: none; */
}

.c-product-banner .ce-more span{
}

.c-product-banner .ce-products-container {
  width: 100%;
  overflow: auto;
}
.c-product-banner .ce-slider {
  width: 100%;
  overflow: auto;
}
.c-product-banner .ce-slider::-webkit-scrollbar {
  width: 100%;
  overflow: auto;
}
.ce-slider-wrapper {
  width: fit-content;
  display: flex;
}

.c-product {
  width: 200px;
  height: 240px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
  margin: 8px;
  text-align: center;
}
.c-product > a {
  text-decoration: none;
}
.c-product > a > .ce-thumbnail {
  height: 160px;
  padding: 16px;
}
.c-product > a > .ce-thumbnail > img {
  max-height: 100%;
  max-width: 100%;
}
.c-product > a > .ce-info {
  color: #0006;
  font-size: 12px;
}
.c-product > a > .ce-info > .ce-price {
  margin-top: 8px;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}